<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/" routerLinkActive="active">
      <img src="https://miro.medium.com/max/480/1*VKY-Ldkt-iHobItql7G_5w.png">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/" routerLinkActive="active">
        ACCUEIL
      </a>

      <a class="navbar-item" routerLink="/administration" routerLinkActive="active">
        TABLEAU DE BORD
      </a>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>INSCRIPTION</strong>
          </a>
          <a class="button is-light">
            CONNEXION
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
